<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/bedroom.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="shortcut icon" href="./imgs/1.png" type="image/x-icon">
    <title>Onde se hospedar</title>
</head>
<body>

    <header id="header" class="header fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    
            <a href="/" class="logo d-flex align-items-center">
                <img src="./imgs/logo.png" alt="Círculo três cores com a escrita GulliverTraveller">
            </a>
    
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="/">Home</a></li>
                <li class="dropdown"><a href="#"><span>Acesse outras funcionalidades</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="/how-to-get">Como Chegar</a></li>
                            <li><a href="/useful-tips">Dicas úteis</a></li>
                            <li><a href="/bedroom">Onde se hospedar</a></li>
                            <li><a href="#">Alugue seu carro</a></li>
                            <li><a href="#">Cultura</a></li>
                            <li><a href="#">Parques</a></li>
                            <li><a href="#">Gastronomia</a></li>
                            <li><a href="#">Vida Noturna</a></li>
                            <li><a href="#">Entretenimento</a></li>
                            <li><a href="/travel-plus">Viaja+ (Passagem de ônibus)</a></li>
                        </ul>
                    
                </li>
                <li><a class="nav-link scrollto" href="/contact">Contato</a></li>
                    <li><a class="nav-link scrollto" href="/index">Sobre</a></li>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
    
        </div>
    </header>

    <section>
        <img src="./imgs/36.png" alt="">
    </section>
    <section id="portfolio" class="portfolio">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>Algumas de nossas hospedagens</h2>
                <p>Clique para mais detalhes</p>
            </header>

            <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="./imgs/28.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>IBIS Styles São Paulo Anhembi</h4>
                            <div class="portfolio-links">
                                <a href=./imgs/28.png" data-gallery="portfolioGallery" class="portfokio-lightbox" title="App 1"><i><img src="./imgs/37.png" alt=""></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="./imgs/29.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Confort Ibirapuera</h4>
                            <div class="portfolio-links">
                                <a href="./imgs/29.png" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Web 3"><i><img src="./imgs/37.png" alt=""></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="./imgs/30.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Blue Tree Premium Morumbi</h4>
                            <div class="portfolio-links">
                                <a href="./imgs/30.png" data-gallery="portfolioGallery" class="portfokio-lightbox" title="App 2"><i><img src="./imgs/37.png" alt=""></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="./imgs/31.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Mercure São Paulo Pamplona</h4>
                            <div class="portfolio-links">
                                <a href="./imgs/31.png" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Card 2"><i><img src="./imgs/37.png" alt=""></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="./imgs/32.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Sheraton São Paulo WTC Hotel</h4>
                            <div class="portfolio-links">
                                <a href="./imgs/32.png" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Web 2"><i><img src="./imgs/37.png" alt=""></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="./imgs/33.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Bourbon Convention Ibirapuera</h4>
                            <div class="portfolio-links">
                                <a href="./imgs/33.png" data-gallery="portfolioGallery" class="portfokio-lightbox" title="App 3"><i><img src="./imgs/37.png" alt=""></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="./imgs/34.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Blue Tree Preimum Paulista</h4>
                            <div class="portfolio-links">
                                <a href="./imgs/34.png" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Card 1"><i><img src="./imgs/37.png" alt=""></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="./imgs/35.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Golden Tulip Paulista Plaza</h4>
                            <div class="portfolio-links">
                                <a href="./imgs/35.png" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Card 3"><i><img src="./imgs/37.png" alt=""></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                    <img src="./imgs/27.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Renaissance São Paulo Hotel</h4>
                            <div class="portfolio-links">
                                <a href="./imgs/27.png" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Web 3"><i><img src="./imgs/37.png" alt=""></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section>


    <footer id="footer" class="footer">
        <div class="container">
            <div class="copyright">
                <strong><span>Trabalho Final GulliverTraveller (Michelli Cristina e Layla Coraline)</span></strong> Todos os direitos reservados
            </div>
            <div class="credits">
                Inspirado em <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer>
    
    <!--JS-->
    <script src="./js/main.js"></script>
    <script src="./js/bootstrap.min.js"></script>

    <!--acessibilidade-->
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>
</body>
<script src="./js/functions.js"></script>
</html>