<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/how_to_get_style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Como chegar</title>
    <link rel="shortcut icon" href="./imgs/1.png" type="image/x-icon">
</head>
<body>
    <header id="header" class="header fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    
            <a href="/" class="logo d-flex align-items-center">
                <img src="./imgs/logo.png" alt="Círculo três cores com a escrita GulliverTraveller">
            </a>
    
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="/">Home</a></li>
                <li class="dropdown"><a href="#"><span>Acesse outras funcionalidades</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="/how-to-get">Como Chegar</a></li>
                            <li><a href="/useful-tips">Dicas úteis</a></li>
                            <li><a href="/bedroom">Onde se hospedar</a></li>
                            <li><a href="/rent-your-car">Alugue seu carro</a></li>
                            <li><a href="#">Cultura</a></li>
                            <li><a href="#">Parques</a></li>
                            <li><a href="#">Gastronomia</a></li>
                            <li><a href="#">Vida Noturna</a></li>
                            <li><a href="#">Entretenimento</a></li>
                            <li><a href="/travel-plus">Viaja+ (Passagem de ônibus)</a></li>
                        </ul>
                    
                </li>
                <li><a class="nav-link scrollto" href="/contact">Contato</a></li>
                    <li><a class="nav-link scrollto" href="/index">Sobre</a></li>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
    
        </div>
    </header>

    <section>
        <img src="./imgs/18.png" alt="">
    </section>

        <section id="features" class="features">

            <div class="container" data-aos="fade-up">

                <header class="section-header">
                    <h2>Como chegar</h2>
                    <p>Qual a melhor escolha para sua viagem? Veja aqui!</p>
                </header>

                <div class="row">

                    <div class="col-lg-6">
                        <img src="./imgs/19.png" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
                        <div class="row align-self-center gy-4">

                            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
                                <div class="feature-box d-flex align-items-center">
                                    <i class="bi bi-check"></i>
                                    <h3>Chegando de avião</h3>
                                </div>
                            </div>

                            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                                <div class="feature-box d-flex align-items-center">
                                    <i class="bi bi-check"></i>
                                    <h3>Chegando de carro</h3>
                                </div>
                            </div>

                            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                                <div class="feature-box d-flex align-items-center">
                                    <i class="bi bi-check"></i>
                                    <h3>Chegando de ônibus</h3>
                                </div>
                            </div>

                            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                                <div class="feature-box d-flex align-items-center">
                                    <i class="bi bi-check"></i>
                                    <h3>Viaja+</h3>
                                </div>
                            </div>

                        </div>
                    </div>
                </div> <!-- / row -->    
            </div>
    </section>

    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/main.js"></script>
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>
</body>
</html>