<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="shortcut icon" href="./imgs/1.png" type="image/x-icon">
    <title>Gulliver Traveller</title>
</head>
<body>

    <header id="header" class="header fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    
            <a href="/" class="logo d-flex align-items-center">
                <img src="./imgs/logo.png" alt="Círculo três cores com a escrita GulliverTraveller">
            </a>
    
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="/">Home</a></li>
                <li class="dropdown"><a href="#"><span>Acesse outras funcionalidades</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="/how-to-get">Como Chegar</a></li>
                            <li><a href="/useful-tips">Dicas úteis</a></li>
                            <li><a href="/bedroom">Onde se hospedar</a></li>
                            <li><a href="#">Alugue seu carro</a></li>
                            <li><a href="#">Cultura</a></li>
                            <li><a href="#">Parques</a></li>
                            <li><a href="#">Gastronomia</a></li>
                            <li><a href="#">Vida Noturna</a></li>
                            <li><a href="#">Entretenimento</a></li>
                            <li><a href="/travel-plus">Viaja+ (Passagem de ônibus)</a></li>
                        </ul>
                    
                </li>
                <li><a class="nav-link scrollto" href="/contact">Contato</a></li>
                    <li><a class="getstarted scrollto" href="/index">Sobre</a></li>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
    
        </div>
    </header>


    <section id="hero" class="hero d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center">
                    <h1 data-aos="fade-up">O lugar para você planejar</h1>
                    <h2 data-aos="fade-up" data-aos-delay="400">e efetuar a melhor viagem</h2>
                    <div data-aos="fade-up" data-aos-delay="600">
                        <div class="text-center text-lg-start">
                            <a href="./bedroom.html" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                                <span>Começar</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                    <img src="imgs/13.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    
    </section>
    

    <main id="main">
        <section id="about" class="about">
    
        <div class="container" data-aos="fade-up">
            <div class="row gx-0">
    
                <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                    <div class="content">
                        <h3>Quem somos</h3>
                        <h2>Olá, eu sou o Gulliver</h2>
                        <p>
                            Mochileiro de plantão, vi a necessidade de montar um site com todos os requisitos que precisei durante minha viagem, assim, reuni a melhor equipe para esse projeto.
                        </p>
                        <div class="text-center text-lg-start">
                        <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                            <span>Leia mais</span>
                        </a>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                <img src="imgs/14.png" class="img-fluid" alt="">
            </div>
    
            </div>
        </div>
    
        </section>
    
        <section id="team" class="team">
    
            <div class="container" data-aos="fade-up">
    
                <header class="section-header">
                    <h2>Nossa equipe</h2>
                </header>
    
            <div class="row">
    
                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="box">
                        <img src="./imgs/15.png" class="img-fluid" alt="">
                        <h3>Esteves Jobs</h3>
                        <p>Gestor de Projetos</p>
                    </div>
                </div>
    
                <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
                    <div class="box">
                        <img src="./imgs/16.png" class="img-fluid" alt="">
                        <h3>Pablo Youex</h3>
                        <p>Desenvolvedor Front-end</p>
                    </div>
                </div>
    
                <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
                    <div class="box">
                        <img src="./imgs/17.png" class="img-fluid" alt="">
                        <h3>Albert</h3>
                        <p>Analista de sistemas</p>
                    </div>
                </div>
    
                </div>
    
            </div>
    
        </section>
    
        <section id="others-team" class="others-team">
            <div class="container" data-aos="fade-up">
    
                <div class="row gy-4">
    
                    <div class="col-lg-3 col-md-6">
                        <div class="count-box">
                            <i class="bi bi-emoji-smile"></i>
                        <div>
                        <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Rita Key</p>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-3 col-md-6">
                <div class="count-box">
                    <i class="bi bi-journal-richtext"></i>
                    <div>
                        <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Watson Maker</p>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-3 col-md-6">
                <div class="count-box">
                    <i class="bi bi-headset"></i>
                    <div>
                        <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Codeberto</p>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-3 col-md-6">
                <div class="count-box">
                    <i class="bi bi-people"></i>
                    <div>
                        <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Louise</p>
                    </div>
                </div>
            </div>
    
            </div>
    
            </div>
        </section>
    
    </main>

    <footer id="footer" class="footer">

        <div class="container">
            <div class="copyright">
                <strong><span>Trabalho Final GulliverTraveller (Michelli Cristina e Layla Coraline)</span></strong> Todos os direitos reservados
            </div>
            <div class="credits">
                Inspirado em <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer>
    
    <!--JS-->
    <script src="./js/main.js"></script>
    

    <!--acessibilidade-->
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>
</body>
<script src="./js/functions.js"></script>
</html>