<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/bedroom.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="shortcut icon" href="./imgs/1.png" type="image/x-icon">
    <title>Viaja+</title>

    <!--JS-->
    <script defer src="./js/main.js"></script>
    <script defer src="./js/bootstrap.min.js"></script>

    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>
</head>
<body>

    <header id="header" class="header fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="/" class="logo d-flex align-items-center">
                <img src="./imgs/logo.png" alt="Círculo três cores com a escrita GulliverTraveller">
            </a>
    
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="/">Home</a></li>
                <li class="dropdown"><a href="#"><span>Acesse outras funcionalidades</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="/how-to-get">Como Chegar</a></li>
                            <li><a href="/useful-tips">Dicas úteis</a></li>
                            <li><a href="/bedroom">Onde se hospedar</a></li>
                            <li><a href="/rent-your-car">Alugue seu carro</a></li>
                            <li><a href="#">Cultura</a></li>
                            <li><a href="#">Parques</a></li>
                            <li><a href="#">Gastronomia</a></li>
                            <li><a href="#">Vida Noturna</a></li>
                            <li><a href="#">Entretenimento</a></li>
                            <li><a href="/travel-plus">Viaja+ (Passagem de ônibus)</a></li>
                        </ul>
                    
                </li>
                <li><a class="nav-link scrollto" href="/contact">Contato</a></li>
                    <li><a class="nav-link scrollto" href="/index">Sobre</a></li>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
    
        </div>
    </header>

    <section>
        <img src="./imgs/38.png" alt="">
    </section>

        <form class="forms-control" autocomplete="off">
            <div class="row">
                <div class="form-group col">
                    <label for="input">Origem</label>
                    <input name="city" type="text" class="form-control" id="input" placeholder="Ex. São Paulo">
                    <ul class="list"></ul>
                </div>
                <div class="form-group col">
                    <label for="to">Destino</label>
                    <input type="text" class="form-control" id="to" placeholder="Ex. Rio de Janeiro">
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label for="data-ida">Data de ida</label>
                    <input type="date" class="form-control" id="data-ida" placeholder="">
                </div>
                <div class="form-group col">
                    <label for="data-volta">Data de volta</label>
                    <input type="date" class="form-control" id="data-volta" placeholder="">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>

    <footer id="footer" class="footer">
        <div class="container">
            <div class="copyright">
                <strong><span>Trabalho Final GulliverTraveller (Michelli Cristina)</span></strong> Todos os direitos reservados
            </div>
            <div class="credits">
                Inspirado em <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer>
    
    <!--acessibilidade-->
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>

</body>
</html>