<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dicas úteis</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/useful_tips.css">
    <link rel="shortcut icon" href="./imgs/1.png" type="image/x-icon">
</head>
<body>
    <header id="header" class="header fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    
            <a href="/" class="logo d-flex align-items-center">
                <img src="./imgs/logo.png" alt="Círculo três cores com a escrita GulliverTraveller">
            </a>
    
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="/">Home</a></li>
                <li class="dropdown"><a href="#"><span>Acesse outras funcionalidades</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="/how-to-get">Como Chegar</a></li>
                            <li><a href="/useful-tips">Dicas úteis</a></li>
                            <li><a href="/bedroom">Onde se hospedar</a></li>
                            <li><a href="/rent-your-car">Alugue seu carro</a></li>
                            <li><a href="#">Cultura</a></li>
                            <li><a href="#">Parques</a></li>
                            <li><a href="#">Gastronomia</a></li>
                            <li><a href="#">Vida Noturna</a></li>
                            <li><a href="#">Entretenimento</a></li>
                            <li><a href="/travel-plus">Viaja+ (Passagem de ônibus)</a></li>
                        </ul>
                    
                </li>
                <li><a class="nav-link scrollto" href="/contact">Contato</a></li>
                    <li><a class="nav-link scrollto" href="/index">Sobre</a></li>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
    
        </div>
    </header>

    <section>
        <img src="./imgs/20.png" alt="">
    </section>

    <section id="tips" class="tips">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>Dicas úteis</h2>
                <p>Tudo para uma viagem completa</p>
            </header>

            <div class="row gy-4">

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-box blue">
                        <i><img src="./imgs/21.png" alt=""></i>
                        <h3>Quando ir</h3>
                        <p>Confira aqui as melhores estações para ir ao seu local preferido!</p>
                        <a href="#" class="read-more"><span>Leia mais</span> <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="service-box orange">
                        <i><img src="./imgs/22.png" alt=""></i>
                        <h3>Temperatura média anual</h3>
                        <p>Está com dúvidas que roupa levar? Sem problemas, confira aqui a Temperatura média anual</p>
                        <a href="#" class="read-more"><span>Leia mais</span> <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="service-box green">
                        <i><img src="./imgs/23.png" alt=""></i>
                        <h3>Fuso horário</h3>
                        <p>Se prepare com o nosso guia de fuso-horário</p>
                        <a href="#" class="read-more"><span>Leia mais</span> <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                    <div class="service-box red">
                        <i><img src="./imgs/24.png" alt=""></i>
                        <h3>Tempo médio de permanência ideal</h3>
                        <p>Viagem a negócios ou passeio? Veja aqui o tempo médio ideal para cada objetivo</p>
                        <a href="#" class="read-more"><span>Leia mais</span> <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                    <div class="service-box purple">
                        <i><img src="./imgs/25.png" alt=""></i>
                        <h3>Negócios</h3>
                        <p>Confira as melhores dicas para viagem à negócio</p>
                        <a href="#" class="read-more"><span>Leia mais</span> <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
                    <div class="service-box pink">
                        <i><img src="./imgs/26.png" alt=""></i>
                        <h3>Passeios</h3>
                        <p>Confira as melhores dicas para viagem à passeio</p>
                        <a href="#" class="read-more"><span>Leia mais</span> <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--JS-->
    <script src="./js/main.js"></script>
    <!--acessibilidade-->
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>

</body>
</html>